<div class="grid-t-4 grid-m-12 text-center post">
    <div class="image" style="background: url('{{img_url feature_image absolute="true"}}'); background-size: cover; background-position: center center;"></div>
    {{#primary_tag}}
    <a href="{{url}}" class="post-primary-tag">{{name}}</a>
    {{/primary_tag}}
    <div class="post-details">
        <h1>{{title}}</h1>
        <p>{{excerpt characters="100"}}...</p>
        {{#foreach authors}}
          {{profile_image}}
        {{/foreach}}  
    </div>
</div> 