<p id="share_post">

    {{!-- This text can be translated. Translation files can be found in the locals directory.
    You may need to add a new file if your language does not already have a supported file. --}}    
    {{t "Share:"}}
    <a href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}" target="_blank"><span></span><i class="fa fa-facebook"></i></a>
    <a href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}" target="_blank"><span></span><i class="fa fa-twitter"></i></a>
    <a href="https://plus.google.com/share?url={{url absolute="true"}}" target="_blank"><span></span><i class="fa fa-google-plus"></i></a>
</p>