<!DOCTYPE html>
<html ⚡ lang="{{lang}}">
    <head>
        
        {{!-- Document Settings --}}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
        {{!-- Base Meta --}}
        <title>{{meta_title}}</title>
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

        {{!-- Styles'n'Scripts --}}
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
        <style amp-custom>a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{font:inherit;font-size:100%;margin:0;padding:0;border:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}#footer,#top_content,.main-header{padding:50px 0}.page-title,strong{font-weight:700}#credit,#social,a.older-posts{float:right}.main-header,.sub-menu,button{background-color:#282D31}#main,.main-header,.pagination,.section_title,.text-center,button{text-align:center}blockquote,em{font-style:italic}#posts .image-link,.main-header{position:relative;overflow:hidden}a h1,h2.site-description{text-shadow:2px 2px 1px #000}html{position:relative;min-height:100%}body{font-family:'Open Sans',sans-serif;font-size:15px;color:#3a3a3a;margin-bottom:220px}#top_content h1{margin:0;line-height:35px}a{color:#337ab7;text-decoration:none}p{line-height:22px}ol,ul{margin-left:0}.grid ol,.grid ul{margin-left:40px}.container li{margin-bottom:10px}.container img{max-width:100%}#main,.container,.grid{max-width:1140px}a:focus,a:hover{color:#23527c;text-decoration:underline}#blog-title a,.main-header,a h1,a h1:hover{color:#fff}#blog-title a,#blog_title:hover,.post a:hover,a h1:hover{text-decoration:none}h1{font-size:24px}h2{font-size:22px}h3{font-size:20px}h4{font-size:18px}h5{font-size:15px}h6{font-size:13px}#top_content{background:rgba(0,0,0,.05)}#top_content p{margin-bottom:0;margin-top:30px}#top_content .grid{margin:0}.extra_author_info,.extra_post_info{margin-top:20px}#social_links{margin-top:25px}.tags-list{margin-top:15px;margin-bottom:15px;line-height: 20px}span#blog-title{font-size:1rem;color:#fff;margin-right:20px}.top-author-profile-image,.top-post-image,.top-tag-image{width:75px;height:75px;border-radius:100px;margin-bottom:15px;border:3px solid #fff}#footer{width:100%;height:74px;font-size:12px;background:rgba(0,0,0,.05);line-height:25px;clear:both;margin-bottom:-220px}#footer i{font-size:20px;padding:5px}#footer a i{color:#3a3a3a}.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.main-header .logo-container{display:block;width:100%}.main-header img{display:block;margin:0 auto 30px;border-radius:200px;height:100px;width:100px;box-shadow:0 0 0 5px #fff,0 1px 2px 6px #333}.nav,.nav li{display:inline-block}.sub-menu{padding:25px 100px}.nav{font-size:14px;margin-bottom:5px;margin-left:15px}.nav li{margin-right:25px}.nav li a{color:#9eabb3}#social{margin-top:-2px}#share_post .fa-twitter{color:#4099FF}#share_post .fa-facebook{color:#3b5998}#share_post .fa-google-plus{color:#dd4b39}.pagination{margin-top:40px;margin-bottom:15px}#credit,#site-name{display:inline;margin:0}#main{padding:50px;margin:0 auto}#share{margin-top:20px}#share a{padding-right:10px}#post-content{margin-bottom:20px}.page-title{padding-top:40px}.pagination{font-size:12px;border-top:1px solid #F6F6F6;border-bottom:1px solid #F6F6F6;padding:20px 0}a.newer-posts{float:left}#tag-name{font-size:12px;color:#ccc;margin-bottom:0}.fa-star{color:#ffd800;margin-left:3px}small{display:block;font-size:10px;margin-top:8px;text-transform:uppercase}#post{text-align:left}.section_title{font-size:20px;padding-bottom:40px}.push-right{float:right}.author-profile-image{width:30px;height:30px;border-radius:100px;margin-top:15px}#share_post a{padding:5px}.extra_author_info span,.extra_post_info span{padding:0 10px}.subscribe-email,button{padding:.375rem .75rem;font-size:1rem;line-height:1.5;display:block}.subscribe-email{width:100%;border:1px solid #ced4da;border-radius:.25rem}button{color:#fff;border:1px solid transparent;border-radius:.25rem;cursor:pointer;margin-top:20px;margin-left:auto;margin-right:auto}button:hover{color:#fff;background-color:#15171a;border-color:#15171a}.main-error{color:#721c24;background-color:#f8d7da;border-color:#f5c6cb;padding:.75rem 1.25rem;border-radius:.25rem;margin:10px 0}code{background:#e5eff5;border-radius:3px;font-size:.8em;line-height:1em;padding:0 5px 2px}.main-success{color:#155724;background-color:#d4edda;border-color:#c3e6cb;padding:.75rem 1.25rem;border-radius:.25rem;margin:10px 0}#posts .image,blockquote{background:rgba(0,0,0,.05)}hr,pre code{padding:0}h2.shrug{font-size:50px}code,kbd,pre,samp{font-family:monospace,monospace}iframe{display:block;margin:0 auto}.grid h1,.grid h2,.grid h3{margin-top:35px;margin-bottom:15px}img[src$="#center"]{display:block;margin:auto}img[src$="#right"]{display:block;margin-left:auto}sup{font-size:13px}hr{position:relative;display:block;width:100%;height:1px;border:0;border-top:1px solid rgba(0,0,0,.05);margin:30px 0}ol.footnotes-list{margin-top:-25px}blockquote,dl,ol,p,ul{margin-bottom:1.5rem}blockquote{border-left:5px solid #ccc;padding:10px;font-size:15px}blockquote p{margin-bottom:0}#posts .image{display:block;margin:auto;height:250px}#posts .image-link{display:block;margin-bottom:20px}.overlay{position:absolute;display:flex;margin:auto;justify-content:center;align-items:center;top:0;bottom:0;left:0;right:0;height:100%;width:auto;transition:.5s ease;background:rgba(0,0,0,.8)}.col-1-1,.grid{width:100%}#posts .image-link:hover .overlay{background:rgba(0,0,0,.9)}.text{color:#fff;font-size:20px}.text h5{line-height:25px}h2.site-description{margin-top:20px;font-size:18px;padding:0 10px;line-height:25px}.grid:after,[class*=grid],[class*=col-],[class*=mobile-]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}[class*=col-]{float:left;min-height:1px;padding-left:10px;padding-right:10px}.grid-pad,[class*=col-] [class*=col-]:last-child{padding-right:0}.grid{min-width:748px;margin:50px auto;clear:both}.grid:after{content:"";display:table;clear:both}.grid-pad{padding-top:20px;padding-left:20px}#grid-pagination{margin-top:-30px}.col-2-3,.col-8-12{width:66.66%}.col-1-2,.col-6-12{width:50%}.col-1-3,.col-4-12{width:33.33%}.col-1-4,.col-3-12{width:25%}.col-1-5{width:20%}.col-1-6,.col-2-12{width:16.667%}.col-1-7{width:14.28%}.col-1-8{width:12.5%}.col-1-9{width:11.1%}.col-1-10{width:10%}.col-1-11{width:9.09%}.col-1-12{width:8.33%}.col-11-12{width:91.66%}.col-10-12{width:83.333%}.col-9-12{width:75%}.col-5-12{width:41.66%}.col-7-12{width:58.33%}.push-2-3,.push-8-12{margin-left:66.66%}.push-1-2,.push-6-12{margin-left:50%}.push-1-3,.push-4-12{margin-left:33.33%}.push-1-4,.push-3-12{margin-left:25%}.push-1-5{margin-left:20%}.push-1-6,.push-2-12{margin-left:16.667%}.push-1-7{margin-left:14.28%}.push-1-8{margin-left:12.5%}.push-1-9{margin-left:11.1%}.push-1-10{margin-left:10%}.push-1-11{margin-left:9.09%}.push-1-12{margin-left:8.33%}@media handheld,only screen and (max-width:767px){.grid{width:100%;min-width:0;margin-left:0;margin-right:0;padding-left:20px;padding-right:10px}[class*=col-]{width:auto;float:none;margin:10px 0;padding-left:0;padding-right:10px}[class*=col-] [class*=col-]{padding-right:0}[class*=mobile-col-]{float:left;margin:0 0 10px;padding-left:0;padding-right:10px;padding-bottom:0}.mobile-col-1-1{width:100%}.mobile-col-2-3,.mobile-col-8-12{width:66.66%}.mobile-col-1-2,.mobile-col-6-12{width:50%}.mobile-col-1-3,.mobile-col-4-12{width:33.33%}.mobile-col-1-4,.mobile-col-3-12{width:25%}.mobile-col-1-5{width:20%}.mobile-col-1-6,.mobile-col-2-12{width:16.667%}.mobile-col-1-7{width:14.28%}.mobile-col-1-8{width:12.5%}.mobile-col-1-9{width:11.1%}.mobile-col-1-10{width:10%}.mobile-col-1-11{width:9.09%}.mobile-col-1-12{width:8.33%}.mobile-col-11-12{width:91.66%}.mobile-col-10-12{width:83.333%}.mobile-col-9-12{width:75%}.mobile-col-5-12{width:41.66%}.mobile-col-7-12{width:58.33%}.sub-menu{padding:20px 0}#credit{float:right}span#blog-title{display:block;padding:10px 0 35px;margin-left:15px}span#location{display:block;margin-bottom:30px}.extra_author_info span,.extra_post_info span{margin-bottom:15px}#posts img{max-width:250px}#top_content{padding:25px 0}}</style>

        {{!-- The AMP boilerplate --}}
        <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
        <script async src="https://cdn.ampproject.org/v0.js"></script>

        {{amp_ghost_head}}
        {{amp_components}}

    </head>

    <body class="amp-template">
        <div class="sub-menu text-center">
            <span id="blog-title">
                <a href="{{@blog.url}}">{{{@blog.title}}}</a>
            </span>    
         
            {{!-- This pulls in the navigation from the site which can be edited in the 
            "Design" section of the Ghost Admin. Blanket does not alter the structure of the navigation
            so there's no overriden navigation.hbs file in this theme --}}
            {{navigation}}
        </div>
        
        {{#post}}
        <div id="top_content">
            <div class="container text-center">
                <div class="grid">
                    <div class="col-1-2 push-1-4">
                            {{!-- It's possible a post doesn't have a feature image, if not, show a placeholder image instead  --}} 
                            {{#if feature_image}}
                                <amp-img src="{{img_url feature_image}}" class="top-post-image" alt="{{title}}" width="75" height="75" layout="fixed"></amp-img>
                            {{else}}
                                <amp-img src="{{asset "images/no_img.png"}}" class="top-post-image" alt="{{t "Missing Image"}}" width="75" height="75" layout="fixed"></amp-img>
                            {{/if}}  
                        <h1>
                            {{title}}

                            {{!-- If the post is featured, Blanket shows a star next to the title --}}
                            {{#if featured}}
                                <i class="fa fa-star"></i>
                            {{/if}}
                        </h1>
                        <div class="extra_post_info">
                            {{!-- Everything inside the {author} tags pulls the specified data from the author you are viewing --}}
                            {{#author}}
                                <span>
                                    <i class="fa fa-user fa-fw"></i>
                                    <a href="{{url}}">{{name}}</a> 
                                </span> 
                            {{/author}}

                            {{!-- If you are changing this date format, you should also 
                            change it in /partials/post.hbs for consistency --}}
                            <span><i class="fa fa-calendar fa-fw"></i> {{date format='DD MMM YYYY'}}</span>
                        </div>  
                    </div>    
                </div>
            </div>
        </div>

        <div id="post" class="container">
            <div class="grid">
                <div class="col-8-12 push-2-12">
                    {{amp_content}}

                    {{!-- Only load in any tag content, if the post actually has tags --}}
                    {{#if tags}}
                        <div class="tags-list">
                            {{t "Tags:"}} {{tags separator=", "}}
                        </div>
                    {{/if}}
        
                    {{!-- The tag below contains the HTML to allow a post to
                    be shared. You can find it under /partials/sharer.hbs --}}            
                    {{> "sharer"}} 
                </div>
            </div>
        </div>
        {{/post}}

        {{!-- The footer at the very bottom of the screen --}}
        <footer id="footer">
            <div class="container">
                <p id="site-name">{{t "Blanket by"}} <a href="https://jonathanpurvis.co.uk/">Jon</a>.</p>
                <p id="credit">{{t "Powered by"}} <a href="http://ghost.org" target="_blank">Ghost</a></p>
                <p id="social_links" class="text-center">

                    {{!-- If a Facebook link is added to the Ghost Admin, show Facebook icon --}}
                    {{#if @blog.facebook}}
                        <a href="https://www.facebook.com/{{@blog.facebook}}" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                    {{/if}} 

                    {{!-- If a Twitter link is added to the Ghost Admin, show Twitter icon --}}
                    {{#if @blog.twitter}}
                        <a href="https://twitter.com/{{@blog.twitter}}" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
                    {{/if}}
                    <a href="{{@blog.url}}/rss" target="_blank"><i class="fa fa-rss fa-fw"></i></a>

                    {{!-- Adds an envelope icon to the footer ONLY if "Subscribers" is turned on within
                    the Labs section of the Admin --}}
                    {{#if @labs.subscribers}}
                        <a href="{{@blog.url}}/subscribe/"><i class="fa fa-envelope fa-fw"></i></a>
                    {{/if}}
                </p>  
            </div>
        </footer>

    </body>
</html>