<!DOCTYPE html>

{{!-- Using the lang helper here allows for i18n to work --}}
<html lang="{{lang}}">
    <head>

        {{!-- Document Settings --}}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
        {{!-- Base Meta --}}
        <title>{{meta_title}}</title>
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        
        {{!-- Styles'n'Scripts. The asset helper is used when possible --}}
        <link rel="stylesheet" type="text/css" href="{{asset "css/reset.css"}}" />
        <!--<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />-->
        <link rel="stylesheet" type="text/css" href="{{asset "css/rwdgrid.css"}}" />
        <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" />
        <link rel="stylesheet" type="text/css" href="{{asset "css/hover.min.css"}}" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
        
        {{!-- This tag outputs SEO meta+structured data and other important settings --}}
        {{ghost_head}}

    </head>

    <body>

        <nav id="menu">
            <div class="logo-container text-center" {{#if @blog.cover_image}}style="background: url({{@blog.cover_image}}); background-size: cover; background-position: center;"{{/if}}>
                {{#if @blog.logo}}
                <a href="{{@blog.url}}" class="logo" >
                    <img src="{{@blog.logo}}" alt="{{@blog.title}}" />
                </a>
                {{/if}}
                <span class="blog-title">
                    {{@blog.title}}
                </span>
                {{#if @blog.description}}
                    <span class="blog-description">{{@blog.description}}</span>
                {{/if}}  
            </div>
            {{navigation}}
            <div class="menu-bottom-links text-center">
                {{> "icons"}}
                <p><a href="https://github.com/CriticalRespawn/Blanket" target="_blank">{{t "Blanket"}}</a> {{t "Theme"}}.</p>
                <p>{{t "Powered by"}} <a href="http://ghost.org" target="_blank">Ghost</a></p>
            </div>
        </nav>

        <main id="content">
            <header>
                <i class="fa fa-bars fa-2x toggle-button"></i>
            </header>
            {{{body}}}
        </main>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>  
        
        {{!-- Blanket uses the Prism syntax highligher in code blocks to
        make it much easier to read code. --}}
        <script src="{{asset "js/prism.js"}}"></script>
        <script src="{{asset "js/slideout.min.js"}}"></script>

    <script>
      var slideout = new Slideout({
        'panel': document.getElementById('content'),
        'menu': document.getElementById('menu'),
        'padding': 256,
        'tolerance': 70
      });

      // Toggle button
      document.querySelector('.toggle-button').addEventListener('click', function() {
        slideout.toggle();
      });
    </script>

      <style>
      body {
  width: 100%;
  height: 100%;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#content header {
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    color: #767676;
}

.fa-search {
    color: #477187;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  background-color: #FFF; /* A background-color is required */
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background: #F2F2F2;
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.logo-container img {
	display: block;
	margin: 0 auto;
	border-radius: 100px;
	height: 40%;
	width: 40%;
	border: 3px solid #fff;
	margin-bottom: 30px;
}

.logo-container {
    padding: 50px 0;
    color: #fff;
}

.text-center {
  	text-align: center;
}

.blog-title {
    font-size: 20px;
    display: block;
}

.blog-description {
    display: block;
    font-size: 15px;
    margin-top: 15px;
}

ul.nav li {
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

ul.nav a {
    display: block;
    padding: 20px;
}

ul.nav li a:hover {
    background-color: #eaeaea;
}

.menu-bottom-links {
    position: absolute;
    bottom: 20px;
    width: 100%;
    font-size: 12px;
    line-height: 15px;
}

.menu-bottom-links i {
    margin-bottom: 15px;
    font-size: 14px;
}

.header {
    background: rgba(0,0,0,.05);
    padding: 15px 0px;
}

h1 {
    font-size: 2em; 
}

h2 { 
    font-size: 1.5em; 
}

h3 { 
    font-size: 1.17em; 
}

h4 { 
    font-size: 1.12em; 
}

h5 { 
    font-size: .83em; 
}

h6 { 
    font-size: .75em;
}

p {
    line-height: 21px;
}

.kg-card-markdown img {
    max-width: 100%;
    height: auto; 
}

#posts [class*='grid-'] {
    float: left;
}

.post .image {
    display: block;
    margin: auto;
    height: 280px;
}

.post-details {
    background: #fff;
    height: 300px;
    padding: 0px 30px;
}

.post-primary-tag {
    display: block;
    padding: 25px;
    background: #fff;
}

.post h1 {
    line-height: 40px;
    height: 120px;
}

  </style>



        {{!-- This helper will pull in data from the {{contentFor}} helper in other 
        template files. Useful for including scripts on certain pages and they 
        will be loaded in AFTER jQuery has loaded --}}
        {{{block "scripts"}}}

        {{!-- Ghost outputs important scripts and data with this tag.
        Do not move it from here, it should always be before the closing body tag --}}
        {{ghost_foot}}

    </body>
</html>

